
.directions {
            font-size: x-large;
          }


.examples {
            font-size: medium;
          }

.answer {
	font-size: medium;
}

.title {
	 font-size: 24px;
	 font-weight:bold;
}

body {
	background-color: #42393a;
	text-align: center;
	padding: 15px;
	border: 5px solid white;
}

/* for index page */
table {
	background-color: #50C977;
	width:100%;
	height:100%;
	cellpadding:0px;
	cellspacing:0px;
	border-collapse: collapse;
}

/* for places.html */
table .places {
	background-color: #50C977;
	width:100%;
	height:100%;
	cellpadding:0px;
	cellspacing:0px;
	border-collapse: collapse;
}

body h1 {
	color: white;
}

body section {
	background-color: #50C977;
	color: #black;
	padding: 10px;
}

button {
	background-color: #1e6300;
	border:2px solid #42393a;
	border-radius:25px;
	width: 85px;
	height: 35px;
	color: white;
}

button.places {
	background-color: #1e6300;
	border:2px solid #42393a;
	border-radius:25px;
	width: 100px;
	height: 40px;
	color: white;
}

.sign {
	width:550px;
}

.logout {
	color: white;
	text-decoration: none;
	font-weight: bold;
	float: right;
}

.bottom {
	border: white solid 3px;
	background-color: #50C977;
}
