
.directions {
            font-size: x-large;
          }


.examples {
            font-size: medium;
          }

body {
	background-color: #42393a;
	text-align: center;
	padding: 15px;
	border: 5px solid white;
}

body h1 {
	color: white;
}

body section {
	background-color: #50C977;
	color: #black;
	padding: 10px;
}

button {
	background-color: #1e6300;
	border:2px solid #42393a;
	border-radius:25px;
	width: 85px;
	height: 35px;
	color: white;
}

button.places {
	background-color: #1e6300;
	border:2px solid #42393a;
	border-radius:25px;
	width: 100px;
	height: 40px;
	color: white;
}

.sign {
	width:600px;
}

.logout {
	color: white;
	text-decoration: none;
	font-weight: bold;
	float: right;
}

.bottom {
	border: white solid 3px;
}
